<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="myConStr" connectionString="server=VANTIAN-PC\MSSQLSERVER14;Connection Timeout=30;MultipleActiveResultSets=True;Database=Northwind;User Id=sa;Password=wsad1234" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>